/* variables de colores tamaños y fuentes */

.center-title {
    text-align: center;
    margin: 0 auto;
}
/* Form container styles */
.container1 {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 40px;
    justify-content: center;
    background-color: #2b0215;
}

/* Table styles */
table {
    width: 40%;
    border-collapse: collapse;
    margin: 0 auto;
    justify-content: center;

}

th,
td {
    padding: 8px;
}

th {
    text-align: left;

}

/* Form elements styles */
input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 5px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

/* Checkbox styles */
input[type="checkbox"] {
    margin-right: 10px;

}

/* Submit button styles */
button[type="submit"] {
    background-color:var(--color-rosaClaro);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;


}
/* Date picker container styles */
.date-picker {
    position: relative;
}

.date-picker input[type="date"] {
    width: 100%;
    color: rgb(0, 0, 0);
}

.date-picker .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
