/* variables de colores tamaños y fuentes */
:root {
    --color-background-elements:#210210;
    --color-background:#2b0215;
    --color-rosaClaro: #d24d6c;
    --color-fuccia:#EE2853;
    --color-fucsia:#EE2853;
    --color-txt-light: #f0f8ff;
    --color-txt-dark:#1a000c;
    --font-size: 16px;
    --font-family:'Abandon';
}


body {
    color: var(--color-txt-light) !important;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    background-color:var(--color-background);

}
#app{
    flex: 1;
}
.navbar {
    background-color: var(--color-background-elements) !important;
}
.navbar-brand {
    color: var(--color-txt-light) !important;
}
.nav-item {
    margin-right: 15px;
}
.nav-link {
    color:var(--color-rosaClaro) !important;
}
.container {
    margin-left: 0 !important;
}
.logo {
    margin-left: 35px;
}
.bd-footer{
    background-color: var(--color-background-elements) !important;
}
li,h5{
    color: var(--color-txt-light) !important;
}
a, .nombreApp{
    color: var(--color-fucsia);
}
.small{
    margin-top: 10px;
}

footer{
    padding-top: 0 !important;
    margin-top: 0 !important;
}
