body {
    font-family: 'Abandon';
    display: flex;
    flex-direction: column;
    background-color: #210210;
}
#app{
    flex: 1;
}
.navbar {
    background-color: #2b0215 !important;
}

.navbar-brand {
    color: #fff !important;

}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    color: #d24d6c !important;
}

.container {
    margin-left: 0 !important;
}

.logo {

    margin-left: 35px;
}

.bd-footer{
    background-color: #2b0215 !important;

}

li,h5{
    color: aliceblue !important;
}

a, .nombreApp{
    color: #EE2853;
}
.small{
    margin-top: 10px;
}



