 .titulo {
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .press-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .press {
    margin-left: 20px;
    margin-top: 20px;
    flex: 1;
    max-width: calc(25% - 20px); /* Esto garantiza que haya 4 tarjetas por fila */
  }
  
  @media (max-width: 768px) {
    .press {
        max-width: calc(50% - 20px); /* En pantallas más pequeñas, muestra 2 tarjetas por fila */
    }
  }
  
  @media (max-width: 480px) {
    .press {
        max-width: 100%; /* En pantallas aún más pequeñas, muestra 1 tarjeta por fila */
    }
  }
  