/* variables de colores tamaños y fuentes */
:root {
    --color-background-elements:#2b0215;
    --color-background:#210210;
    --color-rosaClaro: #d24d6c;
    --color-fuccia:#EE2853;
    --color-fuccia2:#ff4069;
    --color-textos-blanco: #f0f8ff;
    --font-size: 16px;
    --font-family:'Abandon';
}

html,body {

    background-image: url('https://www.xtrafondos.com/wallpapers/kanao-tsuyuri-de-kimetsu-no-yaiba-11709.jpg');
    background-size: cover;
    background-color: var(--color-background);
    background-repeat: no-repeat;
    height:fit-content;
    font-family: var(--font-family);
    overflow-x: hidden;
}
