/* variables de colores tamaños y fuentes */
:root {
    --color-background-elements: #210210;
    --color-background-intermedy: #21021050;
    --color-background: #2b0215;
    --color-rosaClaro: #d24d6c;
    --color-fucsia: #EE2853;
    --color-txt-light: #f0f8ff;
    --color-txt-dark: #1a000c;
    --color-txt-secundary-light: #c79fb4;
    --font-size: 16px;
    --font-family: 'Abandon';
}
.bkg-tpt{
    padding-top: 3rem;
    background-color: rgba(32, 2, 16, 0.7);
    padding-bottom: 2rem;
}
.head{
    /* background-color: var(--color-background-intermedy); */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Establece la transparencia */
    /* El último valor (0.7) representa la opacidad (0 = transparente, 1 = opaco) */
}
.desc{
    padding-top: 1rem;padding-bottom: 1rem;
    color: var(--color-txt-light) !important;
    border: 0;
    border-radius: 15px;
    background-color: rgba(32, 2,16, 0.7) !important;
}
body{
    overflow-x: hidden;
}
.content {

    height: max-content;
    margin-bottom: 30px;
    color: var(--color-txt-light) !important;
}
#id_capitulo{
    width: 6rem;
    vertical-align: middle;
    margin-inline-start: 2rem;
    margin-inline-end: 1rem;
}
.progress-bar, progress{
    padding-left: 0 !important;
    color: var(--color-fucsia);
}
.r1{
    padding-left: 0% !important;
}
.f1{
    justify-content: center;
    align-items:center;
    vertical-align: middle;
    align-content: center;
}


.titulo,
.descripcion {

    margin-left: 10px;
}

.cajita {

    opacity: 50% !important;
    text-align: center !important;
    padding-left: 10px;


}

.cajon{

    justify-content: center;
    align-items: center !important;

}

a{
    justify-content: center;
    align-items: center !important;
}
.caja{
    align-items: center;
}
h5 {
    font-size: smaller !important;
    color: var(--color-txt-secundary-light);

}

.press {

    position: fixed;
    right: 10%;
    /* Set right position to 10% from the right edge */
    top: 50%;
    /* Set vertical position to the middle */
    transform: translateY(-50%);
    /* Adjust for vertical centering */
    padding: 100px;
}

.rating {
    font-size: 24px;
}

.star {
    border: var(--color-background-elements);
    color: #bbbbbb;
    /* Color inicial (gris) */
    cursor: pointer;
}

.star.selected {
    color: #FFD700;
    /* Color amarillo al seleccionar */
}

.rating-container {
    display: flex;
    /* Apply flexbox layout */
    align-items: center;
    /* Vertically align elements */
}

.rating-container .rating {
    margin-right: 10px;
    /* Add some space between rating and button */
}

.tags {
    font-size: small;
    background-color: var(--color-rosaClaro);
    width: fit-content;
    padding-inline: 8px;
    border-radius: 100px;
    text-decoration: none;
}

.btn {
    background-color: var(--color-fucsia) !important;
    border-color: var(--color-background-elements) !important;
}

.tabla-contenido {
    margin-top: 5%;
    margin-left: 2%;

    border: 0;
    border-radius: 15px;
}

.bkgTable {
    height: max-content;
    padding: 2rem;
    background-color: var(--color-background-intermedy) !important;
    color: var(--color-txt-light) !important;
    border: 0;
    border-radius: 15px;
}



th {
    border-top: none !important;
}

.bkgTable {

    border-bottom: none !important;
    border: 0;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 1);
}

.form-check-input:checked {
    background-color: var(--color-txt-dark) !important;
    border-color: var(--color-background) !important;
}

.comment-container,
.comment {
    padding: 8px;
    width: 90%;
    border: 0;
    border-radius: 15px;
    background-color: var(--color-background-elements);
}

time {
    color: var(--color-txt-secundary-light) !important;
    padding: 8px;
}

.comment-body {
    margin: 18px !important;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 20px;

}
#comment-section {
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    padding: 20px;
}

/* Estilo para cada comentario en la lista */
#comment-section .comment-container li {
    color: #000000; /* Texto blanco */
    background-color: #ffffff;
    margin-bottom: 10px;
}


