.content{
    margin-top: 10px;
    height: max-content;
    margin-bottom: 30px;
}
.titulo{
    color: antiquewhite !important;
    margin-left: 10px;
}

.press {
    position: fixed;
    right: 10%; /* Set right position to 10% from the right edge */
    top: 50%; /* Set vertical position to the middle */
    transform: translateY(-50%); /* Adjust for vertical centering */
    padding: 100px;
}

.rating {
    font-size: 24px;
}

.star {
    color: #ccc;
    /* Color inicial (gris) */
    cursor: pointer;
}

.star.selected {
    color: #FFD700;
    /* Color amarillo al seleccionar */
}
.rating-container {
    display: flex; /* Apply flexbox layout */
    align-items: center; /* Vertically align elements */
}

.rating-container .rating {
    margin-right: 10px; /* Add some space between rating and button */
}

