.content{

    height: 100%;
}


.contenedor-capitulos {
    width: 50%;
    max-height: 400px;
    overflow: auto;
    position: absolute; /* Set position to absolute */
    left: 0; /* Set left position to 0 (fully left) */
    top: 50%; /* Set vertical position to the middle */
    transform: translateY(-50%); /* Adjust for vertical centering */
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 5px 10px;
}

th {
    background-color: #ccc;
}

tr {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

td {
    background-color: #00f;
}
.scrollspy-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%; /* Change width to 50% */
    background-color: #000000;
    padding: 10px;
    float: left; /* Add this to make it float to the left */
}

.scrollspy-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.scrollspy-nav li {
    display: inline-block;
    margin-right: 10px;
}

.scrollspy-nav a {
    text-decoration: none;
    color: #000;
}

.scrollspy-nav .active {
    font-weight: bold;
}


.press {
    position: absolute;
    right: 10%; /* Set right position to 10% from the right edge */
    top: 50%; /* Set vertical position to the middle */
    transform: translateY(-50%); /* Adjust for vertical centering */

}

.rating {
    font-size: 24px;
}

.star {
    color: #ccc;
    /* Color inicial (gris) */
    cursor: pointer;
}

.star.selected {
    color: #FFD700;
    /* Color amarillo al seleccionar */
}
.rating-container {
    display: flex; /* Apply flexbox layout */
    align-items: center; /* Vertically align elements */
}

.rating-container .rating {
    margin-right: 10px; /* Add some space between rating and button */
}
.comment-form {

    width: 100%;


  }
